<STYLE TYPE="text/css">
<!--
table
	{
	padding: 2px;
	/*background-color: #F4DEAF;*/
	margin:0px 0px 0px 0px;
	width: 75%;
	border: 0px;
	}

td.name
	{
	text-align: left;
	vertical-align: top;
	/*border: 1px solid #000000;*/
	border: 0px;
	width: 50%;
	}
	
td.stats
	{
	text-align: left;
	vertical-align: top;
	border: 0px;
	width: 10%;
	}	

-->
</STYLE>